In [3]:
import pandas as pd

In [15]:
df=pd.read_csv('UPDATED_NLP_COURSE/TextFiles/smsspamcollection.tsv',sep='\t')

In [16]:
df

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5572 rows x 4 columns]

In [17]:
from sklearn.model_selection import train_test_split

In [19]:
x=df[["length","punct"]]
y=df['label']

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=100,test_size=.3)

In [25]:
from sklearn.linear_model import LogisticRegression

In [30]:
lr_model=LogisticRegression()

In [31]:
lr_model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [33]:
predicted=lr_model.predict(x_test)

In [39]:
predicted

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [40]:
from sklearn import metrics

In [42]:
metrics.confusion_matrix(y_test,predicted)

array([[1422,   26],
       [ 223,    1]], dtype=int64)

In [44]:
df_confusion=pd.DataFrame(metrics.confusion_matrix(y_test,predicted),index=['ham','spam'],columns=['ham','spam'])

In [45]:
df_confusion

       ham  spam
ham   1422    26
spam   223     1

In [59]:
metrics.accuracy_score(y_test,predicted)

0.8510765550239234

In [47]:
from sklearn.naive_bayes import MultinomialNB

In [48]:
MNB=MultinomialNB()

In [50]:
MNB.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [53]:
predicted_nb=MNB.predict(x_test)

In [55]:
metrics.confusion_matrix(y_test,predicted_nb)

array([[1445,    3],
       [ 221,    3]], dtype=int64)

In [56]:
df_nb=pd.DataFrame(metrics.confusion_matrix(y_test,predicted_nb),index=['ham','spam'],columns=['ham','spam'])

In [57]:
df_nb

       ham  spam
ham   1445     3
spam   221     3

In [58]:
metrics.accuracy_score(y_test,predicted_nb)

0.8660287081339713